.App h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.inputsContainer{
  display: table;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
#file{
  display: none;
}
.select{
  margin-left: 10px;
  margin-right: 10px;
}
#outlined-number{
  appearance: textfield;
  margin: 0px;
  padding: 10px;
  width: 20px;
}

